version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
platform: ARM
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
nuget:
  project_feed: true
before_build:
- cmd: nuget restore
build:
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: tkaSnT6XFm7Dq8IJoPVK1qoKjbbIlFfPTk+MBYEZanPhb50nqRMAEL6ucqbKZZfF